<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
         <div th:replace="~{fragment :: meta}"></div>   
             
       <div th:replace="~{fragment :: styles}"></div> 
        
        <title>遊び一覧</title>       
    </head>
    <body>
        <div class="asobi_box-wrapper">
            <!-- ヘッダー -->
             <div th:replace="~{fragment :: header}"></div>
            
            <main>
                <div class="container pt-4 pb-5 asobi_box-container">
                    <div class="row justify-content-center">
                        <div class="col-xxl-9 col-xl-10 col-lg-11">
                            
                            <h1 class="mb-4 text-center">遊び一覧</h1>   
                            
                             <div class="d-flex justify-content-between align-items-end flex-wrap">
                                 <form method="get" th:action="@{/admin/plays}" class="mb-3">
                                     <div class="input-group">
                                         <input type="text" class="form-control" name="keyword" th:value="${keyword}" placeholder="遊び名">
                                         <button type="submit" class="btn text-white shadow-sm asobi_box-btn">検索</button> 
                                     </div>               
                                 </form>                                        
                                  <a th:href="@{/admin/plays/register}" class="btn text-white shadow-sm mb-3 asobi_box-btn">登録</a> 
                            </div>                                                          
                            
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">遊び名</th>
                                        <th scope="col">最低人数</th>
                                        <th scope="col">最高人数</th>
                                        <th scope="col">場所</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>                              
                                    </tr>
                                </thead>   
                                <tbody>                                                     
                                    <tr th:each="play : ${playPage}">
                                        <td th:text="${play.getId()}"></td>
                                        <td th:text="${play.getTitle()}"></td>
                                        <td th:text="${play.getMinNumber()}"></td>
                                        <td th:text="${play.getMaxNumber()}"></td>
                                        <td th:text="${play.getCategory()}"></td>
                                       <td><a th:href="@{/admin/plays/__${play.getId()}__}">詳細</a></td>
                                       <td><a href="#" class="asobi_box-link-danger" data-bs-toggle="modal" th:data-bs-target="${'#deletePlayModal' + play.getId()}">削除</a></td> 
                                       
                                        <!-- 削除用モーダル -->
                                         <div class="modal fade" th:id="${'deletePlayModal' + play.getId()}" tabindex="-1" th:aria-labelledby="${'deletePlayModalLabel' + play.getId()}">
                                             <div class="modal-dialog">
                                                 <div class="modal-content">
                                                     <div class="modal-header">
                                                         <h5 class="modal-title" th:id="${'deletePlayModalLabel' + play.getId()}" th:text="${play.getTitle() + 'を削除してもよろしいですか？'}"></h5>
                                                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
                                                     </div>
                                                     <div class="modal-footer">
                                                         <form method="post"th:action="@{/admin/plays/__${play.getId()}__/delete}">
                                                             <button type="submit" class="btn asobi_box-btn-danger text-white shadow-sm">削除</button>
                                                         </form>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>                                                                                                
                                    </tr>                                      
                                </tbody>
                            </table>  
                            
                                 <!-- ページネーション -->
                             <div th:if="${playPage.getTotalPages() > 1}" class="d-flex justify-content-center">
                                 <nav aria-label="遊び一覧ページ">
                                     <ul class="pagination">
                                         <li class="page-item">
                                             <span th:if="${playPage.isFirst()}" class="page-link disabled">前</span>
                                             <a th:unless="${playPage.isFirst()}" th:href="@{/admin/plays(page = ${playPage.getNumber() - 1}, keyword = ${keyword})}" class="page-link asobi_box-page-link">前</a>
                                         </li>
                                         <li th:each="i : ${#numbers.sequence(0, playPage.getTotalPages() - 1)}" class="page-item">
                                             <span th:if="${i == playPage.getNumber()}" class="page-link active asobi_box-active" th:text="${i + 1}"></span>
                                             <a th:unless="${i == playPage.getNumber()}" th:href="@{/admin/plays(page = ${i}, keyword = ${keyword})}" class="page-link asobi_box-page-link" th:text="${i + 1}"></a>
                                         </li>
                                         <li class="page-item">                        
                                             <span th:if="${playPage.isLast()}" class="page-link disabled">次</span>
                                             <a th:unless="${playPage.isLast()}" th:href="@{/admin/plays(page = ${playPage.getNumber() + 1}, keyword = ${keyword})}" class="page-link asobi_box-page-link">次</a>
                                         </li>
                                     </ul>
                                 </nav> 
                             </div>                                                         
                        </div>
                    </div>
                </div>              
            </main>
            
            <!-- フッター -->
           <div th:replace="~{fragment :: footer}"></div>
        </div>    
        
        <!-- Bootstrap -->
         <div th:replace="~{fragment :: scripts}"></div>
    </body>
</html>
