<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
             
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap" rel="stylesheet">   
        
        <link th:href="@{/css/style.css}" rel="stylesheet" >
        
        <title>遊び一覧</title>       
    </head>
    <body>
        <div class="asobi_box-wrapper">
            <!-- ヘッダー -->
            <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm asobi_box-navbar">
                <div class="container asobi_box-container">
                    <a class="navbar-brand" th:href="@{/}"></a>                                                                    
                </div>
            </nav>
            
            <main>
                <div class="container pt-4 pb-5 asobi_box-container">
                    <div class="row justify-content-center">
                        <div class="col-xxl-9 col-xl-10 col-lg-11">
                            
                            <h1 class="mb-4 text-center">遊び一覧</h1>   
                            
                             <div class="d-flex justify-content-between align-items-end flex-wrap">
                                 <form method="get" th:action="@{/admin/plays}" class="mb-3">
                                     <div class="input-group">
                                         <input type="text" class="form-control" name="keyword" th:value="${keyword}" placeholder="遊び名">
                                         <button type="submit" class="btn text-white shadow-sm asobi_box-btn">検索</button> 
                                     </div>               
                                 </form>                                        
                                <a href="#" class="btn text-white shadow-sm mb-3 asobi_box-btn">登録</a>
                            </div>                                                          
                            
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">遊び名</th>
                                        <th scope="col">最低人数</th>
                                        <th scope="col">最高人数</th>
                                        <th scope="col">場所</th>
                                        <th scope="col"></th>                                        
                                    </tr>
                                </thead>   
                                <tbody>                                                     
                                    <tr th:each="play : ${playPage}">
                                        <td th:text="${play.getId()}"></td>
                                        <td th:text="${play.getTitle()}"></td>
                                        <td th:text="${play.getMinNumber()}"></td>
                                        <td th:text="${play.getMaxNumber()}"></td>
                                        <td th:text="${play.getCategory()}"></td>
                                        <td><a href="#">詳細</a></td>                                                                                
                                    </tr>                                      
                                </tbody>
                            </table>  
                            
                                 <!-- ページネーション -->
                             <div th:if="${playPage.getTotalPages() > 1}" class="d-flex justify-content-center">
                                 <nav aria-label="遊び一覧ページ">
                                     <ul class="pagination">
                                         <li class="page-item">
                                             <span th:if="${playPage.isFirst()}" class="page-link disabled">前</span>
                                             <a th:unless="${playPage.isFirst()}" th:href="@{/admin/plays(page = ${playPage.getNumber() - 1}, keyword = ${keyword})}" class="page-link asobi_box-page-link">前</a>
                                         </li>
                                         <li th:each="i : ${#numbers.sequence(0, playPage.getTotalPages() - 1)}" class="page-item">
                                             <span th:if="${i == playPage.getNumber()}" class="page-link active asobi_box-active" th:text="${i + 1}"></span>
                                             <a th:unless="${i == playPage.getNumber()}" th:href="@{/admin/plays(page = ${i}, keyword = ${keyword})}" class="page-link asobi_box-page-link" th:text="${i + 1}"></a>
                                         </li>
                                         <li class="page-item">                        
                                             <span th:if="${playPage.isLast()}" class="page-link disabled">次</span>
                                             <a th:unless="${playPage.isLast()}" th:href="@{/admin/plays(page = ${playPage.getNumber() + 1}, keyword = ${keyword})}" class="page-link asobi_box-page-link">次</a>
                                         </li>
                                     </ul>
                                 </nav> 
                             </div>                                                         
                        </div>
                    </div>
                </div>              
            </main>
            
            <!-- フッター -->
            <footer>
                <div class="d-flex justify-content-center align-items-center h-100">
                    <p class="text-center text-muted small mb-0">&copy; ASOBI_BOX All rights reserved.</p>      
                </div>                 
            </footer>
        </div>    
        
        <!-- Bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>        
    </body>
</html>
