<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <div th:replace="~{fragment :: meta}"></div>   
             
        <div th:replace="~{fragment :: styles}"></div>
        
        <title>遊び詳細</title>       
    </head>
    <body>
        <div class="asobi_box-wrapper">
            <!-- ヘッダー -->
           <div th:replace="~{fragment :: header}"></div>
            
            <main>
                <div class="container pt-4 pb-5 asobi_box-container">
                    <div class="row justify-content-center">
                        <div class="col-xl-5 col-lg-6 col-md-8">
                            <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                <ol class="breadcrumb mb-0">                        
                                    <li class="breadcrumb-item"><a th:href="@{/admin/plays}">遊び一覧</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">遊び詳細</li>
                                </ol>
                            </nav> 
                            
                            <h1 class="mb-4 text-center" th:text="${play.getTitle()}"></h1>
                            
                            <div class="d-flex justify-content-end align-items-end mb-3">                    
                                <div>
									 <a th:href="@{/admin/plays/__${play.getId()}__/edit}">編集</a>   
                                </div>
                            </div>                                                 
                            
                             
                            
                            <div class="container mb-4">
                                <div class="row pb-2 mb-2 border-bottom">
                                    <div class="col-4">
                                        <span class="fw-bold">ID</span>          
                                    </div>                                                  
            
                                    <div class="col">
                                        <span th:text="${play.getId()}"></span>
                                    </div>
                                </div>
            
                                <div class="row pb-2 mb-2 border-bottom">
                                    <div class="col-4">
                                        <span class="fw-bold">遊びの名前</span>
                                    </div>
            
                                    <div class="col">
                                        <span th:text="${play.getTitle()}"></span>
                                    </div>
                                </div>                    
            
                                <div class="row pb-2 mb-2 border-bottom">
                                    <div class="col-4">
                                        <span class="fw-bold">説明</span>
                                    </div>
            
                                    <div class="col">
                                        <span class="asobi_box-pre-wrap" th:utext="${play.getDescription()}"></span>
                                    </div>
                                </div>
            
                                
                               <div class="row pb-2 mb-2 border-bottom">
                                    <div class="col-4">
                                        <span class="fw-bold">最低人数</span>
                                    </div>
            
                                    <div class="col">
                                        <span th:text="${play.getMinNumber() + '人'}"></span>
                                    </div>
                                </div>                                
                                
                                <div class="row pb-2 mb-2 border-bottom">
                                    <div class="col-4">
                                        <span class="fw-bold">最高人数</span>
                                    </div>
            
                                    <div class="col">
                                        <span th:text="${play.getMaxNumber() + '人'}"></span>
                                   </div>
                                </div>   
                               
                                <div class="row pb-2 mb-2 border-bottom">
                                    <div class="col-4">
                                        <span class="fw-bold">場所</span>
                                    </div>
            
                                    <div class="col">
                                        <span th:text="${play.getCategory()}"></span>
                                    </div>
                                </div>   
                                </div>                                
                            </div>                                                  
                
                        </div>
                   </div>
               </div>             
            </main>
           
           <!-- フッター -->
           <div th:replace="~{fragment :: footer}"></div>
        </div>    
        
        <!-- Bootstrap -->
        <div th:replace="~{fragment :: scripts}"></div>
    </body>
</html>
